* {
            padding: 5px;
            margin: 5px;
        }

        body {
            background-color: #6A0D0D;
        }

        h1 {
            text-align: center;
        }

        .contenedor{
            width: 400px;
            height: 200px;
            border: 1px solid black;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            background-color: white;
        }

        .cuadrito{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50px;
            left: 0;
            animation: cuadrito 3s infinite linear;
        }

        @keyframes cuadrito{
            from{
                left: 0;
            }
            to{
                left: 300px;
            }
        }

        .cuadrito img{
            width: 100px;
            height: 100px;
        }