            *{
                margin: 0%;
                padding: 0px;
            }
            .contenedor{
                width: 800px;
                height: 300px;
                border: 5px solid black;
                border-radius: 20px;
                margin: 0 auto;
                position:relative; 
                overflow: hidden;    

            }
            .cuadrito{
                width: 100px;
                height: 100px;
                position: absolute;  
                top:0px;
                left:0px ;          
                animation: cuadrito 4s infinite;

            }
            .abeja{
                position: absolute;
                width:100%;
                z-index: 0;
            }
            
            @keyframes cuadrito {

                0%{
                    top:0px;
                    left: -100px;
                    rotate: 45deg;
                }
                50%{
                    top:200px;
                    left: 350px;
                    rotate: 0deg;
                }
                100%{
                    top:0px;
                    left: 800px;
                    rotate: 45deg;

                }
            
            }
            .cuadrito2{
                width: 100px;
                height: 100px;
                position: absolute;  
                top:0px;
                left:0px ;          
                animation: cuadrito2 5s infinite 2s;

            }
            .abeja2{
                position: absolute;
                width:100%;
                z-index: 0;
            }
            
            @keyframes cuadrito2 {

                0%{
                    top:0px;
                    left: -100px;
                    rotate: 45deg;
                }
                50%{
                    top:200px;
                    left: 350px;
                    rotate: 0deg;
                }
                100%{
                    top:0px;
                    left: 800px;
                    rotate: 45deg;

                }
            
            }
        
        .pradera{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            }

        .boton {
            display: inline-block; 
            padding: 10px 20px;
            text-align: center;
            font-family: Arial;
            color: #333;
            text-decoration: none;
            border: 2px solid #333;
            border-radius: 5px;
            background-color: #f9f9f9;
        }